## string

In [3]:
laptop="asus"
laptop

'asus'

In [4]:
type(laptop)

str

In [9]:
#help(str)

## list

In [15]:
familyMembers=["shaiju","sajitha","sreya","leela","theja"]
familyMembers

['shaiju', 'sajitha', 'sreya', 'leela', 'theja']

In [16]:
familyMembers[1]

'sajitha'

In [17]:
familyMembers[1:4]

['sajitha', 'sreya', 'leela']

In [19]:
familyMembers[-2:-4]

[]

In [20]:
familyMembers[-1:1]

[]

In [21]:
familyMembers[-4:-1]

['sajitha', 'sreya', 'leela']

In [23]:
player="leonal messi"
player[::-1]

'issem lanoel'

In [24]:
player[:-1]

'leonal mess'

In [25]:
familyMembers[::3]

['shaiju', 'leela']

In [27]:
familyMembers[0:6:2]

['shaiju', 'sreya', 'theja']

In [28]:
familyMembers.pop()

'theja'

In [29]:
familyMembers

['shaiju', 'sajitha', 'sreya', 'leela']

## arithmetic operators

In [1]:
a=3345+4325
a

7670

In [2]:
5674-765

4909

In [6]:
3456*789
#asterist

2726784

In [3]:
1000/13

76.92307692307692

In [7]:
1000//13
#floor division

76

In [8]:
10%3
#modulus

1

In [9]:
10**10
#expomemtial/powers

10000000000

## assignment operators

In [10]:
# =,* defines assin operators

In [12]:
c= 5

In [13]:
c= c*c

In [14]:
c

25

In [ ]:
d

In [15]:
c =c*c

In [16]:
c

625

In [21]:
f= 200
f= f-35
f

165

In [ ]:
f=200

In [ ]:
f=f-35

In [22]:
f

165

In [28]:
e= 444444667

In [61]:
e= e+37897

In [62]:
e

444482564

## comparison opr

## ==

In [23]:
a=10
b=20
a==b

False

In [29]:
name='theja'

In [30]:
name2='theja'

In [31]:
name==name2

True

In [ ]:
<
>

In [32]:
a=20
b=30

In [33]:
a>b

False

In [34]:
b>a

True

In [38]:
c='theja'
d='sajitha'

In [37]:
c>d

True

In [ ]:
a=10
b=20

In [39]:
a>=b

False

In [40]:
a<=b

True

In [50]:
c=40
d=40

In [51]:
c>=42

False

## logical operators

## and

In [71]:
and
true and true=true
true and false=fls
fls and true=fls
fls and fls=fls

SyntaxError: invalid syntax (2073553165.py, line 1)

In [52]:
a=10
b=20

In [53]:
a==10

True

In [54]:
b==20

True

In [55]:
a==10 and b==20

True

In [56]:
a==10 and b==30

False

In [64]:
player1="sanju"
player2="dhoni"

In [58]:
player1=="sanju"

True

In [65]:
player2=="samson"

False

In [66]:
player1=="sanju" and player2=="samson"

False

## or

In [67]:
b=10
c=30

In [70]:
b==10 or c==35
#if one operation is ryt thn it is true

True

## not

In [73]:
x=5
not(x>3 and x<10)
#inverse the real ans

False

In [74]:
not (x>6 and x<10)

True

## identity operators

### is

In [75]:
#compare

In [84]:
a=10
b=a

In [85]:
a=b

In [81]:
b

10

In [86]:
b is 10

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\theja\AppData\Local\Temp\ipykernel_13000\1006509042.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  b is 10

True

In [83]:
a is 10

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\theja\AppData\Local\Temp\ipykernel_13000\2365217341.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 10

True

In [91]:
name=name1=[1,4,6]

In [88]:
name

[1, 4, 6]

In [92]:
name1

[1, 4, 6]

In [93]:
test=[1,4,6]

In [94]:
test

[1, 4, 6]

In [95]:
name is name1

True

In [100]:
name1 is test
#test is given in another cell and not saved in same identity/location

False

In [101]:
#to find identity is 
#id(name)

In [102]:
id(name1)

1626141804032

In [103]:
id(test)

1626142767040

# conditions

In [ ]:
<
>
>=
<=
!=
==

#### age

In [6]:
age=15
#boolean condition
if age>=13:
    print("you can come in")
#this 2 lines are block of code
else:
    print("you cannot enter")

you can come in

In [43]:
age=10
#boolean condition
if age>=13:
    print("you can come in",age)
else:
    print("you cannot enter",age)

you cannot enter 10

### x

In [7]:
x=10
if x<10:
    print("number is less than 10")
else:
    print("there is no such value")

there is no such value

In [8]:
x=10
if x<10:
    print("number is less than 10")
elif x==10:#true
    print("number is 10")
else:
    print("there is no such value")

number is 10

In [20]:
x=9
if x>10:
    print("number is less than ten")
elif x==9:
    print("number is 9")
elif x==10:
    print("number is 10")
else:
    print("there is no such number")

number is 9

### number

In [25]:
n=25
if (n==25) or n<25:
    print("yup we got it")
elif n==19:
    print("number is 19")
else:
    print("invalid number")

yup we got it

In [26]:
n=26
if (n==25) or n<25:
    print("yup we got it")
elif n==19:
    print("number is 19")
else:
    print("invalid number")

invalid number

In [27]:
n=20
if (n==25) and n<25:
    print("yup we got it")
elif n==19:
    print("number is 19")
else:
    print("invalid number")

invalid number

### age

In [10]:
age=int(input("how old are you? "))
age

how old are you? 21

21

In [11]:
age=int(input("how old are you? "))
if age >=13 :
    print ("you can enter")
else:
    print ("you cannot enter")

how old are you? 21
you can enter

In [22]:
age=int(input("how old are you? "))
if age >=13:
    print ("you can enter ") 
else:
    print ("you cannot enter")

how old are you? 14
you can enter

In [26]:
age=int(input("how old are you? "))
if age >=60 :
    print("you cannot enter")
else:
    print ("you can enter")

how old are you? 59
you can enter

#### gender?

In [29]:
gender=input("are you male or female?")
if (gender=="female"):
    print("you can travel for free" )
else:
    print("you must pay the full amount")

are you male or female?male
you must pay the full amount

In [30]:
gender=input("are you male or female?")
if (gender=="female"):
    print("you can travel for free" )
else:
    print("you must pay the full amount")

are you male or female?female
you can travel for free

In [32]:
gender=input("are you male or female?")
if (gender=="female"):
    print("you can travel for free" )
elif gender=="others":
    print("you must pay half of amount")
else:
    print("you must pay the full amount")

are you male or female?others
you must pay half of amount

### postive and negative

 >0 : positive
 <0 : negative
  0 : zero

In [33]:
number=int(input("enter the number"))
if number >0:
    print ("positive")
else :
    print("negative")

enter the number2
positive

In [32]:
number=int(input("enter the number"))
if number >0:
    print ("positive")
else :
    print("negative")

enter the number0
negative

### odd or even

In [ ]:
num=int(input("enter a number"))
if x% 2 == 0:
    print("even")
else:
    print ("odd")

In [3]:
x=int(input("enter a number"))
if x % 2 == 0:
    print("even")
else:
    print ("odd")

enter a number75
odd

## nested if

In [29]:
age=int(input("how old are you? "))
if age>= 13:
    if age <= 60:
        print("you can enter", age)
    else:
        print("you cannot enter",age)
else:
    print("you cannot enter inside")

how old are you? 12
you cannot enter inside

In [30]:
age=int(input("how old are you? "))
if age>= 13:
    if age <= 60:
        print("you can enter", age)
    else:
        print("you cannot enter",age)
else:
    print("you cannot enter inside")

how old are you? 83
you cannot enter 83

In [34]:
age=int(input("how old are you? "))
if age>= 13:
    if age <= 60:
        print("you can enter", age)
    else:
        print("you cannot enter",age)
else:
    print("you cannot enter inside")

how old are you? 16
you can enter 16

In [35]:
age=int(input("how old are you? "))
if age>= 13:
    if age <= 60:
        print("you can enter", age)
    else:
        print("you cannot enter",age)
else:
    print("you cannot enter inside")

you have entered a wrong input

In [44]:
i=14
name=345
if i==14:
    if type("name")==str:
        print("this is your name")
    else:
        print("you are entered a wrong input")
else:
    print("this is a wrong statement")

this is your name

In [45]:
i=140
name=345
if i==14:
    if type("name")==str:
        print("this is your name")
    else:
        print("you are entered a wrong input")
else:
    print("this is a wrong statement")

this is a wrong statement

##### q-write a programme to calculate electricity bill (accept unit from user) according to the given criteria

In [ ]:
 unit               price
  first 100 units      free of cost(0)
  next 100 units       rs 5 per unit
  after 200 units      rs 10 per unit

In [17]:
amt=0
nu=int(input("enter number of units?"))
if nu <= 100:
    amt=0
elif nu >100 and nu <=200:
    amt=(nu-100)*5
elif nu>200:
    amt=500 *(nu-100)*5
else:
    print("enter a valid number")
print("you total amount of due to pay",amt)

enter number of units?300
you total amount of due to pay 500000

#### write a program to display the last digit of a number

In [41]:
#num%10 modulus method
num=int(input("enter a number"))
print("last digit of your number",num%10)

enter a number456
last digit of your number 6

##### Q-kerala govt has decided to give loans to the students who older than 20 and who score 80 in final test

In [10]:
age=int(input("enter age of the student "))
score=int(input("enter total score of the student "))
if age>=20 and score>=80 :
    print("you are eligible for students loan ")
else:
    print("you are not eligible for students loan")

enter age of the student 21
enter total score of the student 88
you are eligible for students loan

In [1]:
age=int(input("enter age of the student "))
score=int(input("enter total score of the student "))
if age>=20 and score>=80 :
    print("you are eligible for students loan ")
else:
    print("you are not eligible for students loan")

enter age of the student 19
enter total score of the student 80
you are not eligible for students loan

In [2]:
age=int(input("enter age of the student "))
score=int(input("enter total score of the student "))
if age>=20 and score>=80 :
    print("you are eligible for students loan ")
else:
    print("you are not eligible for students loan")

enter age of the student 20
enter total score of the student 79
you are not eligible for students loan

### age

In [46]:
age=int(input("enter your age" ))
if age<=100:
    age=age+10
    print (age)

enter your age56
66

In [47]:
#50
#0
#0/3

In [54]:
num=int(input("enter a number"))
ld=num%10
if ld % 3 ==0:
    print("this num can be divided by 3")
else:
    print("it is not divisible")

enter a number25
it is not divisible

In [3]:
ticket=1
if ticket ==1:
    print("go and watch the movie")
else:
    print("get your ticket")

go and watch the movie

In [6]:
ticket=int(input("if you have ticket or not"))
age=int(input('enter your age'))
if ticket ==1:
    print("go and watch the movie")
elif  ticket !=1 and age <=3:
    print("go and watch the movie")
else:
    print("get your ticket")

if you have ticket or not1
enter your age4
go and watch the movie

In [8]:
ticket=int(input("if you have ticket or not"))
age=int(input('enter your age'))
if ticket ==1:
    print("go and watch the movie")
    if  ticket !=1 and age <=3:
        print("go and watch the movie")
else:
    print("get your ticket")

if you have ticket or not0
enter your age2
get your ticket

## loops

In [9]:
print(1)
print(2)

1
2

#### for loop

#### a for loop is is used for iterating over a sequence

##### in operator used for membership.wheather to check the number or name is in the list

In [11]:
#"for" is the keyword of loop

In [12]:
fruits={"apple,mango,orange,banana"}
for x in fruits:
    print(x)

apple,mango,orange,banana

In [17]:
name="vishwanathan iyer"

In [18]:
for n in name:
    print(n)

v
i
s
h
w
a
n
a
t
h
a
n

i
y
e
r

In [19]:
name="vishwanathan iyer"
for n in name:
    print(n)

v
i
s
h
w
a
n
a
t
h
a
n

i
y
e
r

In [20]:
age=[14,25,16,17,18,19,20]
for age in age:
    print(age)

14
25
16
17
18
19
20

In [24]:
age=[14,25,16,17,18,19,20]
age

[14, 25, 16, 17, 18, 19, 20]

In [37]:
new age=[]
for ages in age:
    newage.append(ages*2)
print(newage)

SyntaxError: invalid syntax (3913327755.py, line 1)

In [33]:
age

[14, 25, 16, 17, 18, 19, 20, 'cindrella', 'cindrella', 'cindrella']

In [40]:
salary=[10000,20000,15000,25000,35000]
newsalary=[]
for sal in salary:
    newsalary.append(sal+1000)
print(newsalary)

[11000, 21000, 16000, 26000, 36000]

In [52]:
mylist=[1,2,3,4,5,6]
new_list=[]
for value in mylist:
    new_list.append(value*10)
    print(new_list)

[10]
[10, 20]
[10, 20, 30]
[10, 20, 30, 40]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]

In [53]:
mylist=[1,2,3,4,5,6]

In [56]:
for element in mylist:
    print(element)

1
2
3
4
5
6

In [57]:
list2=[1,2,4,5,"baby","zombie","fishy","soman",56,78,99]

In [58]:
list2

[1, 2, 4, 5, 'baby', 'zombie', 'fishy', 'soman', 56, 78, 99]

In [62]:
numberlist=[]
for i in list2:
    if type(i) ==int:
        numberlist.append(i)
        print(numberlist)

[1]
[1, 2]
[1, 2, 4]
[1, 2, 4, 5]
[1, 2, 4, 5, 56]
[1, 2, 4, 5, 56, 78]
[1, 2, 4, 5, 56, 78, 99]

In [66]:
codeme=[.3,0.5,.78,"jishnu","karthika","basila","binjus","shabna","amal","lena","rashi","shehma",22,56,78,90]
memberslist=[]
for names in codeme:
    if type(names)==str:
        memberslist.append(names)
print(memberslist)

['jishnu', 'karthika', 'basila', 'binjus', 'shabna', 'amal', 'lena', 'rashi', 'shehma']

In [3]:
countrypop=["delhi","berlin","tokyo","beijing","algers",230000,300000,600000,780000,890000]
countrylist=[]
populationlist=[]
for capital in countrypop:
    if type(capital)==str:
        countrylist.append(capital)
    elif type(capital)==int:
        populationlist.append(capital)
print(countrylist)
print(populationlist)

['delhi', 'berlin', 'tokyo', 'beijing', 'algers']
[230000, 300000, 600000, 780000, 890000]

## oddd or even

#### create a new with odd and even values,then from the given list create a new list with odd values and even values

In [21]:
x=[12,13,14,15,16,23,24,25,26,29,27,28,11,22,33,44,55,66,77,88,99]
even=[]
odd=[]
for i in x:
    if (i%2==0):
        even.append(i)
    elif(i):
        odd.append(i)
print(even)
print(odd)

[12, 14, 16, 24, 26, 28, 22, 44, 66, 88]
[13, 15, 23, 25, 29, 27, 11, 33, 55, 77, 99]

In [1]:
x=[12,13,14,15,16,23,24,25,26,29,27,28,11,22,33,44,55,66,77,88,99]
even=[]
odd=[]
for value in x:
    if value%2==0 :
        even.append(value)
    elif value%2 !=0 :
        odd.append(value)
print(even)
print(odd)

[12, 14, 16, 24, 26, 28, 22, 44, 66, 88]
[13, 15, 23, 25, 29, 27, 11, 33, 55, 77, 99]

### break

In [3]:
mylist=[1,2,3,4,5,6,7,8,9,"sona","pintu","mintu","tintu","sanju"]

In [4]:
for x in mylist:
    print(x)

1
2
3
4
5
6
7
8
9
sona
pintu
mintu
tintu
sanju

In [6]:
for x in mylist:
    if x==9:
        break
    print(x)

1
2
3
4
5
6
7
8

In [7]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'sona', 'pintu', 'mintu', 'tintu', 'sanju']

In [8]:
for i in mylist:
    print(i)
else:
    print("you are out of loop")

1
2
3
4
5
6
7
8
9
sona
pintu
mintu
tintu
sanju
you are out of loop

In [11]:
for i in mylist:
    if i==9:
        break
    print(i)
else:
    print("you are out of loop")

1
2
3
4
5
6
7
8

In [12]:
x=10
if x==5:
    print("testing")
else:
    print("exit from condition")

exit from condition

In [13]:
newlist=[1,3,5,7,9,11,13,15,17,19,21,23,25,27]

In [15]:
for i in newlist:
    if i==23:
        break
    print(i)

1
3
5
7
9
11
13
15
17
19
21

In [16]:
newlist

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27]

In [17]:
for i in newlist:
    if i==15:
        continue
    print(i)
else:
    print("you are out of loop")

1
3
5
7
9
11
13
17
19
21
23
25
27
you are out of loop

In [22]:
test2=[1,3,5,7,9,11,59]
for i in test2:
    if i>10:
        continue
    print(i)

1
3
5
7
9

In [23]:
test2

[1, 3, 5, 7, 9, 11, 59]

In [34]:
for i in test2:
    if i!=11:
        continue
    print(i)

11

## range

#### range is used for number generation with a given criteria

In [ ]:
#inbuilt functions
#print()
#len()
#type()

In [35]:
range(1,10)

range(1, 10)

In [36]:
list(range(1,10)) #start ,end-1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
#generators and iterators

In [38]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [39]:
out=range(20,40)
list(out)

[20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

In [41]:
#range(start,end,step)

In [42]:
list(range(20,50,4))

[20, 24, 28, 32, 36, 40, 44, 48]

In [44]:
for i in range(20,50,3):
    print(i)

20
23
26
29
32
35
38
41
44
47

In [45]:
for i in range(20,50,3):
    if i==38:
        break
    print(i)

20
23
26
29
32
35

In [46]:
for i in range(20,50,3):
    if i==38:
        continue
    print(i)

20
23
26
29
32
35
41
44
47

In [47]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'sona', 'pintu', 'mintu', 'tintu', 'sanju']

In [48]:
len(mylist)

14

In [49]:
for i in range(len(mylist)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [52]:
word="pneumonoultramicroscopicsilicovolcanoconiosis"
word1=[]
word2=[]
for x in range(len(word)):
    if word[x]=="o":
        word1.append(x)
        word2.append(word[x])
print(word1,word2,sep="\n")

[5, 7, 17, 20, 29, 31, 36, 38, 41]
['o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o']

In [62]:
disease="pnuemonia"
listwithIdx=[]
listwithvalue=[]
for x in range(len(disease)):
    #adding condition
    if disease[x]=="n":
        listwithIdx.append(x)
        listwithvalue.append(disease[x])
print(listwithIdx,listwithvalue,sep="\n")

[1, 6]
['n', 'n']